/* Style for table container*/
.table-container{
    margin: 20px;
}

table{
    border-collapse: collapse;
    width:100%;
    border: 1px solid #ddd;
}

th{
    background-color: #f2f2f2;
}

th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

/* Style for Profit and Loss*/

.profit-loss{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* Style for error message*/
.error{
    color: red;
    font-weight: bold;
}